.formcentre
  %h1 Search results

  - if @users.present?

    - @users.each do |user|
      = link_to(user.name, user_path(user))
      %br
   
  - elsif @tags.present?

    - @tags.each do |tag|
      = link_to(tag.name, tag_path(tag))
      %br
     
  - elsif @categories.present?

    - @categories.each do |category|
      = link_to(category.name, category_path(category))
      %br

  - elsif @albums.present?

    - @albums.each do |album|
      = link_to(album.name, album_path(album))
      %br

  - elsif @photos.present?

    - @photos.each do |photo|
      = link_to(photo.name, photo_path(photo))
      %br

  - else 
    %h2 Nothing matches what you searched for, please try again
