%p
.user_info
  %p
    %b Name:
    %br
      = @user.name
  %p
    %br
      = image_tag(@user.profile_pic, class: 'profile_pic')
  %p
    %b Username:
    %br
      = @user.username
  %p
    %b About Me:
    %br
      = @user.bio
  %p
    %b Hometown:
    %br
      = @user.hometown
  %p
    %b Member since:
    %br
      = @user.created_at
  %p
    %b Albums:
    %br
      - @user.albums.each do |album|
        = album.name
  %p
    %b Photos:
    %br
      - @user.photos.each do |photo|
        = photo.name
        = image_tag(photo.photo)
  %p= link_to 'Edit Profile', edit_user_registration_path(@user)
