%div.user_info
  %p
    %h1 
      = @user.name
      (
      = @user.username
      )
  /%p
  /  %br
  /    = image_tag(@user.profile_pic, class: 'profile_pic')
  %p
    %b About Me:
    = @user.bio
  %p
    %b Hometown:
    = @user.hometown
  %p
    %b Member since:
    = @user.created_at
  %p
    %b Albums:
    - @user.albums.each do |album|
      = album.name
  %p
    %b Photos:
    %br
      - @user.photos.each do |photo|
        = photo.name
        = image_tag(photo.photo)
  %p= link_to 'Edit Profile', edit_user_registration_path(@user)
