= image_tag @user.user_image.thumb, :class => "userimage"

.user_info
  %p
    %h1 
      = @user.name
      (
      = @user.username
      )
      - if current_user.id == @user.id
        %p= link_to 'Edit Profile', edit_user_registration_path
  %p
    %b About Me:
    = @user.bio
  %p
    %b Hometown:
    = @user.hometown
  %p
    %b Member since:
    = @user.created_at


%button.albumbutton
  Album
%button.imagebutton
  Images

.maxwidth
  .imagesswitch  
    - if @user.photos != []
      - @user.photos.each do |photo|
        = link_to photo do
          = image_tag photo.uploaded_image.thumb, class: "box2"
  .albumsswitch
    - if @user.albums
      - @user.albums.each do |album|
        = link_to album do
          %li= album.name
  
    
  