= image_tag @user.user_image.url, :class => "userimage"

.user_info
  %p
    %h1 
      = @user.name
      (
      = @user.username
      )
  %p
    %b About Me:
    = @user.bio
  %p
    %b Hometown:
    = @user.hometown
  %p
    %b Member since:
    = @user.created_at
  %p
    - if @user.albums != []
      %b Albums:
      - @user.albums.each do |album|
        = album.name
  / %p
  /   %b Photos:
  /   %br
  /     - @user.photos.each do |photo|
  /       = photo.name
  /       = image_tag(photo.photo)
  - if current_user.id == @user.id
    %p= link_to 'Edit Profile', edit_user_registration_path
