%p#notice= notice

#albumshowpage
  .albumshowinfo
    %h1= @album.name
    - if @album.user_id == current_user.id
      = link_to 'Edit', edit_album_path(@album)
    %h3 by
    %h3= @album.user.name
    %p 
      = @album.description

  #albumsshowimages.boxI
    - @album.photos.each do |photo|
      = link_to photo do
        = image_tag photo.uploaded_image.thumb, class: "boxIII"
%br

.albumshowcomment
  - if current_user
    %br
    %textarea#comment.albumcomment{placeholder: 'Comments'}
    %br
    %i.glyphicon.glyphicon-pencil#pencil
    #pencil2  
  %br
  
.comment#comment
