%p#notice= notice
-if current_user != nil
  #user{data: {value: "#{current_user.id}"}} 

#albumshowpage
  .albumshowinfo
    %h1= @album.name
    = link_to 'Edit', edit_album_path(@album)
    %h3 by
    = @album.user.name
    %p 
      = @album.description

  #albumsshowimages
    - @album.photos.each do |photo|
      = image_tag photo.uploaded_image.thumb, class: "boxI"
%br

.albumshowcomment
  - if current_user
    %br
    %br
    %input#username.albumusername{placeholder: 'Name'}
    %br
    %textarea#comment.albumcomment{placeholder: 'Comments'}
    %br
    %i.glyphicon.glyphicon-pencil#pencil
    #pencil2  
  %br
  
.comment#comment
