%p#notice= notice

#albumshowpage
  %h1= @album.name
  %h4= "By"
  %h3= @album.user.name

  = @album.description

  #albumsshowimages
    - @album.photos.each do |photo|
      = image_tag photo.uploaded_image.thumb, class: "boxI"

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path

- if current_user
  %br
  %br
  %input#username
  %br
  %textarea#comment{placeholder: 'Comments'}
  %br
  %i.glyphicon.glyphicon-pencil#pencil
  #pencil2  
%br

.comment
