= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name, :class => "text_field"
  .field
    = f.label :description
    %br
    = f.text_area :description, :class => "text_field"
  = f.hidden_field :user_id, :value => current_user.id
  .field
    = f.label :location
    %br
    = f.text_field :location, :class => "text_field"
  .field
    = f.label :tag
    %br
    - Category.all.each do |category|
      .check
        = check_box_tag "photo[category_ids][]", category.id, @photo.category_ids.include?(category.id)
        = category.name
  .field
    = f.label :album
    %br
    - current_user.albums.all.each do |album|
      = check_box_tag "photo[album_ids][]", album.id, @photo.album_ids.include?(album.id)
      = album.name
  .field
    = f.label :uploaded_image
    %br
    = f.file_field :uploaded_image
  .actions
    = f.submit 'Save'
