%p#notice= notice

%p
  = image_tag @photo.uploaded_image.url, class: "photo-show", id: 'votes'
.votes
  .no_votes
    = @votes
  %i.glyphicon.glyphicon-thumbs-up#up{data: { vote: 1}}
  %i.glyphicon.glyphicon-thumbs-down#down{data: { vote: -1}}

   

%p
  %b Name:
  = @photo.name
%p
  %b Description:
  = @photo.description
%p
  %b Taken By:
  = @photo.user.name
%p 
  %b Added On:
  = @photo.created_at
%p
  %b Albums:
  - @photo.albums.each do |album|
    = album.name
%p
  %b Location:
  = @photo.location
%p
  %b Category:
  = @photo.category.name


= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
