%p#notice= notice
-if current_user != nil
  #user{data: {value: "#{current_user.id}"}} 
%h1.titlephoto
  = @photo.name
  - if @photo.user_id == current_user.id 
    = link_to 'Edit', edit_photo_path(@photo)
    = link_to '| Delete', @photo, :method => :delete, :data => { :confirm => 'Are you sure?' }
%p
  = image_tag @photo.uploaded_image.url, class: "photo-show", id: 'votes'

.votes
  Likes:
  .no_votes
    = @votes
  - if @voted_already != true
    .thumbs
      %i.glyphicon.glyphicon-thumbs-up#up{data: { vote: 1}}
      %i.glyphicon.glyphicon-thumbs-down#down{data: { vote: -1}}
%br
.socialbutton2
  %a.twitter-share-button{"data-count" => "none", :href => "https://twitter.com/share"} Tweet

.photoinfo
  %p
    %b Description:
    = @photo.description
  %p
    %b Taken By:
    = @photo.user.name
  %p 
    %b Added On:
    = @photo.created_at.strftime("%a %d %B %Y")
  %p
    %b Albums:
    - @photo.albums.each do |album|
      = album.name
  %p
    %b Location:
    = @photo.location
  %p
    %b Category:
    = @photo.category.name


.commentarea
  .commentbox
    - if current_user
      %br
      %textarea#comment{placeholder: 'What do   you think?'}
      %br
      %i.glyphicon.glyphicon-pencil#pencil
      #pencil2  
    
.comment#commentphoto


