%h1 Listing votes

%table
  %tr
    %th User
    %th Photo
    %th Number of votes
    %th
    %th
    %th

  - @votes.each do |vote|
    %tr
      %td= vote.user_id
      %td= vote.photo_id
      %td= vote.number_of_votes
      %td= link_to 'Show', vote
      %td= link_to 'Edit', edit_vote_path(vote)
      %td= link_to 'Destroy', vote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vote', new_vote_path
