
= image_tag "compass.png", :class => "compass"
%h1 Locations
%h3 Discover images taken in your city!
- @locations.each do |location|
  %div.categorybox
    = link_to(location.city, location_path(location))  
    %br/

#map_canvas

%input#places{type: "hidden", value: "#{@results.to_json}"}
%input#imagesfromlocation{type: "hidden", value: "#{@images.to_json}"}
/ %input#hometown{type: "hidden", value: "#{current_user.hometown.to_json}"}
%br/

= link_to 'New Location', new_location_path