!!!
%html
  %head
    %title Snap
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDiR1gtj5ciU1-k2HbziXgNn-08PFVu48o&sensor=false&libraries=places"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "http://platform.tumblr.com/v1/share.js"}
    %script{:src => "http://cdn.jsdelivr.net/jquery.fullpage/2.4.1/jquery.fullPage.min.js"}
    %link{:href => "http://media.tumblr.com/tumblr_lytt98aMMJ1qfo540.jpg", :rel => "shortcut icon"}
  %body
    %header
      %h1 Snap
      =link_to image_tag('icon.png', :class => "icon"), root_path
      /%button.buttonsmall
      -if current_user
        =link_to 'Locations', locations_path, :class => "nav"
        - if current_user.subscribed_to != []
          =link_to 'Album Feed', albums_path, :class => "nav"
        - if current_user.subscribed_to != []
          =link_to 'Photo Feed', feed_path, :class => "nav"
        - else 
          =link_to 'Top 12', photos_path, :class => "nav"
        =link_to 'Categories', categories_path, :class => "nav"
        =link_to 'Photo', new_photo_path, :class => "nav"
        =link_to 'Album', new_album_path, :class => "nav"
        .searchbar
          %form{action: "/search", method: :get, :class => "searchbox"}
            %input{name: "q", type: "text", placeholder: "Search", :class => "searchbox"}
          %button
            = image_tag "lw.jpg", :class => "lupe"
          %button.more
            %p.more +

      .navr
        -if current_user
          = link_to(current_user.name, user_path(current_user))
          %br
          = link_to 'Log Out', destroy_user_session_path, :class => "navr", method: :delete 
        -else
          =link_to 'Login', new_user_session_path, :class => 'navr'
          =link_to 'Sign up', new_user_registration_path, :class => 'navr'
    
    %br
    %br  
    %article
      = yield
/%audio_tag.speak 'assets/images/snap.wav'
