!!!
%html
  %head
    %title Project2
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDiR1gtj5ciU1-k2HbziXgNn-08PFVu48o&sensor=false&libraries=places"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "/jquery.min.js", :type => "text/javascript"}
  %body
    %header
      %h1 Snap
      =link_to image_tag('icon.png', :class => "icon"), root_path

      -if current_user
        =link_to 'Locations', locations_path, :class => "nav"
        =link_to 'Albums', albums_path, :class => "nav"
        =link_to 'Photos', photos_path, :class => "nav"
        =link_to 'Categories', categories_path, :class => "nav"
        =link_to 'Upload', new_photo_path, :class => "nav"
        .searchbar
          %form{action: "/search", method: :get, :class => "searchbox"}
            %input{name: "q", type: "text", placeholder: "What are you looking for?", :class => "searchbox"}
          %button
            = image_tag "lw.jpg", :class => "lupe"

      .navr
        -if current_user
          Hello
          = link_to(current_user.name, user_path(current_user))
          %br
          = link_to 'Log Out', destroy_user_session_path, :class => "navr", method: :delete 
        -else
          =link_to 'Login', new_user_session_path, :class => 'navr'
          =link_to 'Sign up', new_user_registration_path, :class => 'navr'
      
    %article
      %p.notice= notice
      %p.alert= alert
      = yield

/%audio_tag 'assets/audios/snap.wav'
