!!!
%html
  %head
    %title Project2
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyDiR1gtj5ciU1-k2HbziXgNn-08PFVu48o&sensor=false&libraries=places"}
  %body
    %header
      %h1 Snap
      =image_tag "icon.png",  :class => "icon"

      =link_to 'Locations', locations_path, :class => "nav"
      =link_to 'Users', users_path, :class => "nav"
      =link_to 'Photos', photos_path, :class => "nav"
      =link_to 'Categories', categories_path, :class => "nav"
      /=link_to 'Login & Signup', new_session_path
      .searchbar
        %form{action: "/search", method: :get, :class => "searchbox"}
          %input{name: "q", type: "text", placeholder: "What are you looking for?", :class => "searchbox"}
      %button.letitappear
        = image_tag "lw.jpg", :class => "lupe"
    %article
      %p.notice= notice
      %p.alert= alert
      = yield

/%audio_tag 'assets/audios/snap.wav'
